<div
  class="relative w-10 h-10 rounded-full after:absolute after:top-0 after:left-0 after:translate-x-[4px] after:translate-y-[4px] after:w-8 after:h-8 after:bg-white after:content-[''] after:rounded-full before:-z-10 before:absolute before:content-[''] before:rounded-full before:animate-spin before:w-10 before:h-10 before:bg-gradient-to-br before:from-red-400 before:to-violet-900 before:origin-center"
></div>
