<div class="flex h-10 w-10 justify-between my-8">
  <div class="animate-pendulumTop h-8 w-1 bg-black dark:bg-violet-500"></div>
  <div class="animate-pendulumCenter h-8 w-1 bg-black dark:bg-violet-500"></div>
  <div class="animate-pendulumBottom h-8 w-1 bg-black dark:bg-violet-500"></div>
</div>
