<div
  class="z-10 relative w-20 h-20 rounded-full after:absolute after:top-0 after:left-0 after:translate-x-[8px] after:translate-y-[8px] after:w-16 after:h-16 after:bg-white after:content-[''] after:rounded-full before:-z-10 before:absolute before:content-[''] before:rounded-full before:animate-spin before:w-20 before:h-20 before:bg-gradient-to-br before:from-red-400 before:to-violet-900 before:origin-center"
></div>
