<div
  class="z-10 relative w-20 h-20 rounded-full bg-transparent shadow-[0rem_0.25rem_0.5rem_2px_crimson,_0rem_-0.25rem_0.5rem_2px_blueviolet,_0.25rem_0rem_0.5rem_2px_blueviolet,_-0.25rem_0rem_0.5rem_2px_blueviolet] animate-spin"
></div>
